.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

body {
  padding-top: 50px;
  padding-left: 40px;
  background-color: rgb(215, 240, 250);
  padding-bottom: 25px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(34, 124, 160);
  text-align: center;
}


.card {
  height: 575px;
  border: 0;
  background-color: rgb(34, 124, 160);
  border-radius: 25px;
}
.card-image {
  border-radius: 25px 25px 0 0;
  height: 65%;
  width: 100%;
  display:block
}

.card-scaled {
  transform: scale(1.05)
}

.card-details {
  color: 'white';
  max-height: '100px';
  overflow: 'hidden';
  text-overflow: 'ellipsis';
}






#slider {
    position: absolute;
    width: 100px;
    height: 100px;
    background: blue;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
    