.floating-card {
	display: block;
	width: 250px;
	max-height: 400px;
	min-height: 200px;
	min-height: 100px;
	object-fit: contain;
	padding-top: 10px;
	column-gap: 10px;
	background-color: none;
}

.floating-text {
	padding-top: 2px;
	padding-left: 13px;
	color: #4e4e4e;
}

.floating-masonry-container {
    -webkit-columns: 100px 4;
    -moz-columns: 100px 4;
    columns: 250px 7;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
}

.floating-masonry-item {
	display: inline-block;
	width: 250px;
}

img {
	border-radius: 25px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	width: 250px;
	max-height: 400px;
	min-height: 200px;
	min-height: 100px;
}


.floating-white-container {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	/* padding-bottom: 10px; */
}
